---
layout: page
permalink: /categories/
title: Kategorien
---


<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>

    {% for post in site.categories[category_name] %}
    <div class="post py3">
      <p class="post-meta">
      {% if site.date_format %}
        {{ post.date | date: site.date_format }}
      {% else %}
        {{ post.date | date: "%b %-d, %Y" }}
      {% endif %}
    </p>
    <a href="{{ post.url | relative_url }}" class="post-link"><h3 class="h3 post-title">{{ post.title }}</h3></a>
    </div>
    {% endfor %}

  </div>
{% endfor %}
</div>