---
layout: default
---

<div class="home py-4 py-md-5">
  <br>
  <div class="row">
    {% assign paginator.posts | where_exp: "post", "post.until < site.time" or "post.until == nil" %}
    {% for post in paginator.posts "%}
    <!--
      {% assign time_now = "now" | date: "%s" %}
    {% assign post_list = paginator.posts | where: 'until', "{{ post.until | date: "%s"}} and post.until == 'empty' " %}
      
      {% assign time_until = post.until | date: "%s" %}
      {% unless {{time_until < time_now }} %}
      -->
        <div class="col-12 col-md-6 col-lg-4">
        <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">
          <div class="card rounded overflow-hidden">  
            <div class="image">
              {% if post.image %}
              <img src="{{post.image | relative_url}}" alt="{{post.title}}">
              {% endif %}
              <div class="card-body">
                <h4 class="panel-title font-weight-bold">{{ post.title | truncate: 75 }}</h4>
                <p class="p-0 my-1 mx-0"><span class="post-meta"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span></p>
                <p>
                  {% if post.summary %}
                    {{ post.summary | strip_html | strip_newlines | truncate: 150 }}
                  {% else %}
                    {{ post.excerpt | strip_html | strip_newlines | truncate: 150 }}
                  {% endif %}
                    <div class="h5">                
                      {% for tag in post.tags %}
                        {% if tag %}
                          <a href="tags/#{{ tag | slugify}}" class="badge badge-pill badge-light">#{{ tag }}</a>
                        {% endif %}
                      {% endfor %}
                    </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    <!-- 
      {% endunless %}
      -->
    {% endfor %}
  </div>
</div> 
{% if site.subtitle %}
<div class="alert alert-info" role="info">
  <h4 class="alert-heading">{{site.subtitle}}</h4>
  <hr>
  Die Fachschaft erhält in unregelmäßigen Abständen Informationen zu Jobs, Praktika sowie Stipendien, aber auch Veranstaltungen und Ähnlichem von Firmen, Universitäten oder Stiftungen. @Unternehmen und co. wenn Sie Inhalte habe die uns interessieren könnten, können sie uns ein PDF oder Markdown per Mail zukommen lassen. 
  <br><br>Kontakt: <a href="mailto://fachschaft@mathematik.uni-marburg.de">fachschaft@mathematik.uni-marburg.de</a>  
</div>
<br>
<br>
{% endif %} 
  <div class="row justify-content-center">
    <div class="col-md-4">
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
          {% if paginator.previous_page %}
            <li class="page-item active">
              <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="page-item active">
                <span class="page-link">{{ page }}</span>
              </li>
            {% elsif page == 1 %}
              <li class="page-item">
                <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li class="page-item active">
              <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
            </li>
          {% else %}
            <li class="page-item">
              <span class="page-link">Next</span>
            </li>
          {% endif %}
          </ul>
        {% endif %}
    </div>
  </div>

</div>
