<footer class="mt-4 mt-md-5">
  <div class="container">
    <div class="row p20">
      <div class="col-md-4 text-center mt25"></div>
      <p>
        Fachschaft FB 12 Uni Marburg -
        <a target="_blank" href="https://datenschutz.fs-matheinfo.de">Datenschutzerklärung</a> - 
        <a target="_blank" href="http://webjeda.com"
          ><img
            src="https://img.shields.io/badge/Built%20by-webjeda-blue.svg"
            alt="{{site.built-by}}"
        /></a>
      </p>
      </div>
    </div>
  </div>
</footer>
