<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href={{"/" | relative_url}}>Digitales Brett</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <smaller style="padding:10px; margin-left: 15px !important">Fachschaft Mathematik und Informatik, Universität Marburg</smaller>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href={{"/" | relative_url}}>Startseite <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"></li>
        <a class="nav-link" href={{"/tags" | relative_url}}>Tags</a>
      </li>
      <li class="nav-item"></li>
        <a class="nav-link" href={{"/feed.xml" | relative_url}}>RSS-Feed</a>
    </li>
    </ul>
  </div>
</nav>
