<div class="col-md-4 mt20">
  <div class="post-img">
    {% if page.image %}
    <img
      width="600"
      class="rounded"
      src="{{page.image | relative_url}}"
      alt="{{page.title}}"
    />
    {% endif %}
  </div>

  <div class="mt10 recent">
    <h2>Recent articles</h2>
    <ul>
      {% for post in site.related_posts limit:3 %}

      <li>
        <p>
          <a href="{{ post.url  | relative_url }}">{{ post.title }}</a
          ><small>&nbsp;&nbsp;{{ post.date | date_to_string }}</small>
        </p>
      </li>

      {% endfor %}
    </ul>
  </div>
  <br />
</div>
